:root {
    --black: #000;
    --text-color: #fff;
    --margin: 0px 16px;
}

::-webkit-scrollbar {
    display: none;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--text-color);
    height: 35px;
    padding: 10px 30px;
    gap: 10px;
    font-weight: 400;
}

.banner span {
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}

.banner span:hover {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 75px;
}

.navbar__side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.menu {
    transform: translateY(3px);
}

.logo {
    font-family: 'Integral';
    font-size: 25px;
    font-weight: bold;
}

.navbar__search {
    display: none;
}

.navbar__links {
    display: none;
}

.navbar__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.hero {
    background: #F2F0F1;
    padding: 40px 16px 0px 16px;
}

.hero__heading {
    font-family: "Integral";
    font-size: 36px;
    font-weight: bold;
    line-height: 34px;
    width: 320px;
}

.hero__content {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.60);
    font-size: 17px;
}

.hero__button {
    width: 100%;
    background-color: var(--black);
    color: var(--text-color);
    margin-top: 24px;
    border-radius: 62px;
    height: 52px;
    font-size: 16px;
}

.hero__numbers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.hero__numbers div span {
    font-size: 24px;
    font-weight: 700;
}

.hero__numbers div p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.hero__numbers .line {
    width: 1px;
    height: 52px;
    background: rgba(0, 0, 0, 0.10);
}

.hero__numbers .line.none {
    display: none;
}

.hero__numbers .three {
    flex-basis: 50%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hero__image {
    width: 100%;
    height: 450px;
    flex-shrink: 0;
}

.hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__brands {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 150px;
    background-color: #000;
}

.products {
    margin: var(--margin);
    margin-top: 50px;
}

.products button {
    width: 100%;
    height: 46px;
    padding: 16px 54px;
    gap: 12px;
    border-radius: 62px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    margin-top: 30.5px;
}

.products__header {
    color: #000;
    text-align: center;
    font-family: "Integral";
    font-size: 32px;
    font-weight: 700;
}

.products__list {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    margin-top: 32px;
    margin-left: 15px;
}

.products__list-item {
    flex-direction: column;
    padding-bottom: 10px;
}

.products__list-item .image img {
    width: 200px;
    height: 200px;
    border-radius: 13px;
    background: #F0EEED;
    object-fit: contain;
}

.products__list-item p {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.products__list-item span {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top__selling {
    margin-top: 40px;
}

.style {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #F0F0F0;
    flex-direction: column;
    padding: 20px 0px;
    margin: var(--margin);
    margin-top: 65px;
}

.style h2 {
    width: 250px;
    color: #000;
    text-align: center;
    font-family: "Integral";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 30px;
}

.style__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.style__item {
    position: relative;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
}

.style__item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80px;
    z-index: 0;
}

.style__item span {
    color: #000;
    font-family: Satoshi;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
    z-index: 10;
}

.testimonials {
    margin: var(--margin);
    padding: 50px 0px;
}

.testimonials .header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 25px;
}

.testimonials .header .arrows {
    align-self: last baseline;
}

.testimonials h2 {
    color: #000;
    font-family: "Integral";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    flex-basis: 250px;
}

.testimonial__list {
    display: flex;
    gap: 12px;
    width: 100%;
    overflow-x: scroll;
}

.testimonial {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.testimonial .name {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.testimonial p {
    color: rgba(0, 0, 0, 0.60);
    font-family: Satoshi;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 360px;
    height: 300px;
    gap: 20px;
    border-radius: 20px;
    background: var(--black);
    margin-inline: auto;
    position: absolute;
    top: -150px;
    left: 15%;
}

input {
    outline: none;
    border: none;
}

.newsletter input {
    width: 310px;
    height: 40px;
    padding: 10px 15px;
    border-radius: 60px;
    background: #FFF;
}

.newsletter button {
    width: 310px;
    height: 40px;
    padding: 10px 15px;
    border-radius: 60px;
    background: #FFF;
}

.footer {
    position: relative;
    background: #F0F0F0;
    padding: var(--margin);
    margin-top: 150px;
    padding-top: 200px;
}

.footer .newsletter p {
    color: #FFF;
    font-family: "Integral";
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
}

.footer h2 {
    color: #000;
    font-family: "Integral";
    font-size: 28.847px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.footer p {
    color: rgba(0, 0, 0, 0.60);
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer a {
    color: rgba(0, 0, 0, 0.60);
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer .socials {
    margin-top: 16px;

}

.footer__links p {
    color: #000;
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 3px;
    margin-bottom: 16px;
}

.footer__links li {
    margin-bottom: 16px;
}

.footer .footer__items {
    display: flex;
    padding-inline: 5px;
    flex-wrap: wrap;
    margin-top: 16px;
}

.footer__links {
    flex-basis: 50%;
}

@media (min-width:768px) {
    .navbar {
        padding: 20px 100px 25px 100px 0 2 0;
    }

    .menu {
        display: none;
    }

    .navbar__search {
        display: block;
        position: relative;
    }

    .navbar__search .search {
        padding-left: 40px;
    }

    .search__icon {
        position: absolute;
        top: 10px;
        left: 10px;
        transform: translateY(-5%);
        fill: red;
    }

    .navbar__links {
        display: block;
    }

    .navbar__links ul {
        display: flex;
        gap: 20px;
    }

    .navbar input {
        width: 570px;
        padding: 12px 16px;
        border-radius: 60px;
        background: #F0F0F0;
    }

    .navbar__links a {
        color: #000;
    }

    .navbar__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .hero {
        background: #F2F0F1;
        display: flex;
    }

    .hero__main {
        flex-basis: 40%;
    }

    .hero__heading {
        width: 575px;
        color: #000;
        font-family: "Integral";
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
    }

    .hero__content {
        color: rgba(0, 0, 0, 0.60);
        font-family: Satoshi;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }

    .hero__button {
        width: 210px;
        height: 52px;
        padding: 16px 54px;
    }

    .hero__numbers {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin-top: 20px;
    }

    .hero__numbers .line.none {
        display: block;
    }

    .hero__numbers .three {
        margin-top: 0px;
        display: flex;
        flex-basis: 20%;
    }

    .hero__image {
        margin-inline: auto;
        width: 700px;
        height: 450px;
    }

    .hero__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 100% 10%;
    }

    .hero__brands {
        height: 120px;
    }

    .products {
        margin: var(--margin);
        margin-top: 50px;
    }

    .products button {
        margin-left: calc((100vw / 2) - 110px);
        width: 220px;
        height: 50px;
        padding: 16px 54px;
        border-radius: 60px;
        border: 1px solid rgba(0, 0, 0, 0.10);
    }

    .products__list-item {
        padding-bottom: 10px;
    }

    .products__list-item .image {
        margin-left: 15px;
    }

    .products__list-item .image img {
        width: 295px;
        height: 300px;
    }

    .products__list-item p {
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
    }

    .products__list-item span {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .top__selling {
        margin-top: 40px;
    }

    /* .style {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background: #F0F0F0;
        flex-direction: column;
        padding: 20px 0px;
        margin: var(--margin);
        margin-top: 65px;
    } */

    .style h2 {
        width: 100%;
    }

    .style__list {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .style__item {
        position: relative;
        border-radius: 20px;
        background: #fff;
        overflow: hidden;
    }

    .style__item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 80px;
        z-index: 0;
    }

    .style__item span {
        color: #000;
        font-family: Satoshi;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 15px;
        margin-left: 15px;
        position: absolute;
        z-index: 10;
    }

    .testimonial {
        min-width: 0;
    }

    .newsletter {
        display: flex;
        flex-direction: row;
        height: 180px;
        position: absolute;
        top: -100px;
        left: 5%;
        width: 1400px;
        padding: 36px 64px;
        justify-content: space-between;
        align-items: center;
    }

    .newsletter div button {
        margin-top: 10px;
    }

    .footer {
        position: relative;
        background: #F0F0F0;
        padding: var(--margin);
        margin-top: 100px;
        padding-top: 100px;
        padding-left: 75px;
    }

    .footer .newsletter p {
        text-align: left;
    }
    .footer .socials {
        margin-top: 16px;

    }

    .footer .footer__items {
        display: flex;
        padding-inline: 5px;
        flex-wrap: nowrap;
        margin-top: 16px;
    }

    .footer__links {
        flex-basis: 50%;
    }
}